{% extends 'base.html' %}
{% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
  <div class="mb-5">
      <h1>Все рецепты пользователя {{ author.get_full_name }}</h1>
      <h3>Всего рецептов: {{ page_obj.paginator.count }} </h3>
      {% if author != user %}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'recipes:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
            <a
              class="btn btn-lg btn-primary"
              href="{% url 'recipes:profile_follow' author.username %}" role="button"
            >
              Подписаться
            </a>
        {% endif %}
      {% endif %}      
      {% for recipe in page_obj %}
          {% include 'includes/article.html' with hide_autor=True %}          
          {% if not forloop.last %}<hr>{% endif %}   
        {% endfor %}
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}

